.App {
  font-family: sans-serif;
  text-align: center;
  background: black;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  background: black;
}

.aside {
  width: 400px;
  padding: 200px 40px 40px;
  background: black;
}

.wrapper {
  width: 0;
  flex-grow: 1;
  padding: 20px 20px 20px;
}

.image-container {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.img {
  top: 0;
  left: 0;
  position: absolute;
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  width: 100%;
  transform: scale(1);
  transform-origin: top left;
}

.img-active {
  width: 100%;
  transform: scale(2.5);
}

.btn {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 3px;
  border: 1px solid white;
  background-color: black;
  color: white;
}

.btn-mr {
  margin-right: 12px;
}
