* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

.wizard {
  display: flex;
  min-height: 100vh;
  &__main {
    background-image: url('./images/background.jpg');
    flex-grow: 3;
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
  }
  &__aside {
    flex-grow: 2;
    max-width: 40%;
    background-color: #f7f8fa;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__form {
    background-color: #fff;
    height: calc(100vh - 80px);
    max-height: 450px;
    width: 0;
    flex-grow: 1;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px 1px rgba(33, 39, 54, 0.16),
    0 0 1px 0 rgba(33, 39, 54, 0.04);
    position: relative;
  }
}

.btn {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 3px;
  border: 1px solid white;
  background-color: black;
  color: white;
  box-shadow: 0 2px 4px 1px rgba(33, 39, 54, 0.16),
  0 0 1px 0 rgba(33, 39, 54, 0.04);
  border-radius: 8px;
}

.btn-mb {
  margin-bottom: 16px;
}

.btn-abs {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-abs-l {
  right: initial;
  left: 0;
}

.slider {
  flex-grow: 1;
  height: calc(100vh - 100px);
  max-height: 700px;
  width: 0;
  max-width: 680px;
  overflow: hidden;
  position: relative;
  &__mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__slides {
    transition: transform .375s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform: translate(0);
    width: 100%;
    overflow: hidden;
    height: 100%;
    will-change: transform;
    mask: url(#m-line);
    &--hide {
      transform: translate(-100%);
    }
    &--prepare {
      transition: none;
      transform: translate(100%);
    }
    &--show-second {
      transition: transform .375s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transform: translate(0);
    }
  }
  &__item {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transition: transform .375s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform-origin: top left;
    transform: scale(1) translate(0);
    z-index: 0;
    will-change: transform;
    &--active {
      z-index: 1;
    }
    &--scale {
      transform: scale(2.5);
    }

    &--translate {
      transform: translate(100%);
    }

    &--prepare {
      transition: none;
      transform: translate(-100%);
    }

    &--show-second {
      transition: transform .375s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transform: translate(0);
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: transform .35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform: translate(100%);
    &--show {
      transform: translate(0);
    }
  }
  &__domain {
    position: absolute;
    top: 83px;
    right: 0;
    height: 49px;
    width: 0;
    border-bottom-left-radius: 26px;
    border-top-left-radius: 26px;
    background: linear-gradient(to left, #28334F, #4A5269);
    z-index: 1;
    transition: width 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform: translate(0);
    &--show {
      width: 71%;
    } 
  }
  &__text-domain {
    position: absolute;
    top: 37px;
    left: 91px;
    color: white;
    font-size: 10px;
    &--active {
      background-color: red;
      &::after {
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: white;
        top: 0;
        right: 0;
      }
    }
  }
}

.image {
  width: 100%;
  &--svg {
    width: calc(100% + 8px);
    margin-left: -4px;
  }
}

.input {
  padding: 4px 2px;
  border: 1px solid black;
  background-color: white;
  color: black;
  box-shadow: 0 2px 4px 1px rgba(33, 39, 54, 0.16),
  0 0 1px 0 rgba(33, 39, 54, 0.04);
  border-radius: 3px;
}



$mask-time: 0.9s;


.elem-mask {
  stroke: #FFF;
  animation: stroke-width $mask-time infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

@keyframes stroke-width {
  from {
    stroke-width: 1380;
  }
  to {
    stroke-width: 500;
    }
  }

/* Change Image Animation
-------------------------------*/

$max: 4;
$duration: $mask-time * $max;//8s;
$step: $duration/$max;
$step-perc: percentage(1/$max);

.rotation__item {
  opacity: 0;
  animation: hide $duration step-end infinite;
  mask: url(#m-lines); 
  
  @for $item from 2 through $max {
    &:nth-child(#{$max}n + #{$item}) {
    animation-delay: $step*($item - 1);
    }
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  #{$step-perc} {
    opacity: 0;
    }
}

/* Progress Bar
-------------------------------*/

.progress {
  width: 0;
  height: 5px;
  background: rgba(154, 205, 50,.5);
  animation: timer $duration infinite linear;
}

@keyframes timer {
  100% {
    width: 100%;
  }
}

/* Common
-------------------------------*/

BODY {
  background: #FFF linear-gradient(90deg, rgba(154, 205, 50,.3) 50%, rgba(154, 205, 50,.15) 50%);
  background-size: 2em 2em;
  perspective: 500px;
  perspective-origin: center center;
  }

/* Demo layers
-------------------------------*/

$rotation-height: 270px;

svg {
  width: 100%;
  height: $rotation-height;
  }
